<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">{{ call .Trans "Fork this project on" }} <a href="https://github.com/zentooling/golang-web-server">GitHub</a> | {{ call .Trans "Created by" }} <a href="https://github.com/zentooling"/>Joseph Zendle</span>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<!-- JZ TODO  get latest bootstrap js bundle <script src="/assets/js/main.js?c={{ .CacheParameter }}"></script>-->
</body>
</html>