<!doctype html>
<html lang="{{ call .Trans "en" }}" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Joseph Zendle">
    <title>{{ .Title }} - {{ call .Trans "site_name" }}</title>

    <link rel="canonical" href="https://golangbase.com">

    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png?c={{ .CacheParameter }}"
          sizes="180x180">
    <link rel="icon" href="/assets/images/favicon-32x32.png?c={{ .CacheParameter }}" sizes="32x32"
          type="image/png">
    <link rel="icon" href="/assets/images/favicon-16x16.png?c={{ .CacheParameter }}" sizes="16x16"
          type="image/png">
    <link rel="manifest" href="/assets/images/site.webmanifest?c={{ .CacheParameter }}">
    <link rel="icon" href="/assets/images/favicon.ico?c={{ .CacheParameter }}">
    <meta name="theme-color" content="#2E61B8">
<!--    <link href="/assets/css/main.css?c={{ .CacheParameter }}" rel="stylesheet">-->
<!--    JZ get latest bootstrap TODO add to static files section of build-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <!-- JZ add HTMX -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>

</head>

<body class="d-flex flex-column h-100">